.button2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--light-text);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .3s;
}

.button2:is(:hover, :focus)::after{
  transform: scaleX(1);
  transform-origin: left;
}

.button2::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--light-text);
  top: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .3s;
}

.button2:is(:hover, :focus)::before {
  transform: scaleX(1);
  transform-origin: right;
}
