body {
  --light-text: #fff;
  --dark-text: #000;
  --black: #000;
  --dark-purple: #3d2645;
  --byzantium: #832161;
  --cerise: #da4167;
  --ghost-white: #f0eff4;
  --green-blue: #306bac;
  --cornflower-blue: #6f9ceb;
  --baby-blue-eyes: #98b9f2;
  --medium-purple: #918ef4;
  --navbar-width: 5rem;
  color: var(--light-text);
  background-image: linear-gradient(to right, #8000ff, coral);
  background: wheat;
  /* background: moccasin;
  background: navajowhite;
  background: antiquewhite;
  background: beige;
  background: bisque;
  background: blanchedalmond;
  background: burlywood;
  background: papayawhip;
  background: peachpuff; */
  min-height: 100vh;
  overflow-x: hidden;
}
