/* The CSS variables MUST always be at the very top */
@import url('css-variables.css');

@import url('button1.css');
@import url('button2.css');
@import url('button3.css');
@import url('button4.css');
@import url('button5.css');
@import url('button6.css');
@import url('button7.css');

/* Nerd Fonts icons */
@import url('nerd-fonts.css');
@import url('nav.css');

@import url('cards.css');

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab-VariableFont_wght.ttf');
}

:not(head, html) {
  display: flow-root;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  font-family: 'Roboto Slab', serif;
}

body {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

.h1 {
  text-align: center;
  font-size: 40px;
}

.dark-text {
  color: var(--dark-text);
}

.website-header-section {
  height: 700px;
  align-items: center;
  justify-content: start;
  padding: 50px 20px;
  /*border: 1px dashed #000;*/
  background-image: linear-gradient(to right, var(--medium-purple) 0% 33.33%, var(--green-blue) 33.33% 66.66%, var(--byzantium) 66.66% 100%);
}

.curves {
  --curve-height: 60%;
  --curve-width: 100px;
  --curve-step: 25px;
  background-image: url('../images/20210115_160155.jpg');
  background-size: calc(100% - (var(--curve-width) * 3));
  background-repeat: no-repeat;
  background-position: 100% 50%;
  position: relative;
  width: 100%;
  height: 100vh;
}

.top-curve-1 {
  background-color: var(--medium-purple);
  width: 33.33%;
  z-index: 3;
  clip-path: polygon(0 0, var(--curve-width) 0, var(--curve-width) calc(var(--curve-height) + (var(--curve-step) * 2)), 100% 100%, 0 100%);
}

.top-curve-2 {
  background-color: var(--green-blue);
  width: 66.66%;
  z-index: 2;
  clip-path: polygon(0 0, calc(var(--curve-width) * 2) 0, calc(var(--curve-width) * 2) calc(var(--curve-height) + var(--curve-step)), 100% 100%, 0 100%);
}

.top-curve-3 {
  background-color: var(--byzantium);
  width: 100%;
  z-index: 1;
  clip-path: polygon(0 0, calc(var(--curve-width) * 3) 0, calc(var(--curve-width) * 3) var(--curve-height), 100% 100%, 0 100%);
}

.top-curve-1, .top-curve-2, .top-curve-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
}

.showcase {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  gap: 40px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  padding: 100px 20vw;
}

.buttons {
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

.button:hover {
  cursor: pointer;
}

.button {
  position: relative;
}

.spacer {
  aspect-ratio: 1920/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('../svg/layer1.svg');
}
.layer2 {
  background-image: url('../svg/layer2.svg');
}
.layer3 {
  background-image: url('../svg/layer3.svg');
}
.layer4 {
  background-image: url('../svg/layer4.svg');
}
.layer5 {
  background-image: url('../svg/layer5.svg');
}
.layer6 {
  background-image: url('../svg/layer6.svg');
}
.layer7 {
  background-image: url('../svg/layer7.svg');
}
.layer8 {
  background-image: url('../svg/layer8.svg');
}

.black {
  background: var(--black);
}
.dark-purple {
  background: var(--dark-purple);
}
.byzantium {
  background: var(--byzantium);
}
.cerise {
  background: var(--cerise);
}
.ghost-white {
  background: var(--ghost-white);
  color: var(--dark-text);
}
.green-blue {
  background: var(--green-blue);
}
.cornflower-blue {
  background: var(--cornflower-blue);
}
.baby-blue-eyes {
  background: var(--baby-blue-eyes);
}
.medium-purple {
  background: var(--medium-pruple);
}
