@font-face {
  font-family: "Cheboyga";
  src: url("../fonts/Cheboyga.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 1rem "Cheboyga", serif;
}

:root {
  scroll-behavior: smooth;
}

:not(html, head, body, script, ul, ol, li) {
  display: flow-root;
}

body {
  background-color: #000000;

  // This serves as the sky
  main {
    background-image: linear-gradient(to bottom, indigo 25%, coral 85%);
    background-attachment: fixed;

    // This holds the city as the background
    .content {
      background-image: url("/images/skyline.png");
      background-repeat: repeat-x;
      background-position: bottom;
      background-size: 30%;
      background-attachment: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 0.5em 1.5em 0.5em;

      @media screen and (max-width: 1000px) {
        background-size: 50%;
      }

      @media screen and (max-width: 550px) {
        background-size: contain;
      }

      .title {
        font-size: 5rem;
        color: cyan;
        width: max-content;
        margin: 0 0 0.5em 0;
        // TODO: add text glow, so it looks like neon

        @media (max-width: 500px) {
          font-size: 3.5rem;
        }
      }

      .banner {
        font-size: 1.5rem;
        background-color: fuchsia;
        color: indigo;
        text-align: center;
        width: min(530px, 100%);
        border-radius: 10px;
        margin-bottom: 1.5em;
        // TODO: add text glow, so it looks like neon (and remove left and right borders for mobile view)

        @media screen and (max-width: 530px) {
          border-radius: 0;
        }
      }

      .long-text {
        max-width: 530px;
        color: cyan;
        background-color: #4b0082cc;
        padding: 0.5em;
        border-radius: 10px;
      }

      hr {
        width: min(530px, 100%);
        border: 1px solid magenta;
        margin: 1.875em 0;
      }
    }
  }
}
