@use "partials";
@use "mixins";
@use "variables";

// TODO: split SCSS into multiple files
@font-face {
  font-family: "Cheboyga";
  src: url("../fonts/Cheboyga.ttf") format("truetype");
}

:root {
  scroll-behavior: smooth;
}

:not(html, head, body, style, script, ul, ol, li, svg, path) {
  display: flow-root;
}

::selection {
  background-color: cyan;
  color: indigo;
}

@mixin zero-padding-margin {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  @include zero-padding-margin();
  font: 1rem "Cheboyga", serif;

  ::after, ::before {
    @include zero-padding-margin();
  }
}

// TODO: implement parallax
// TODO: fix the backgrounds and the media queries
body {
  background-color: #000000;
  background-image: linear-gradient(to bottom, navy, indigo 20% 35%, coral 55%);
  background-attachment: fixed;

  main {
    // TODO: make the bg image slowly spin
    // TODO: pure CSS meteor animations
    background-image: url("/images/stars.png");
    background-attachment: fixed;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    position: relative;

    @include partials.meteor-shower;
    @include partials.parallax;

    .content {
      background-color: navy;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 0.5em 1.5em 0.5em;
      $content-width: 1000px;
      $spacing: 1em;

      .title {
        font-size: 5rem;
        color: cyan;
        text-align: center;
        width: max-content;
        margin: 0 0 0.3em 0;
        @include mixins.text-shadow(10px, 10px, cyan);

        &::before {
          content: '☄️ ';
        }

        &::after {
          content: ' 🚀';
        }

        &::before, &::after {
          color: none;
          text-shadow: none;
        }

        @media (max-width: 500px) {
          font-size: 3.5rem;
          width: 100%;
        }
      }

      .banner {
        font-size: 1.5rem;
        padding: 0.5em 1em;
        text-align: center;
        width: max-content;
        border-radius: 10px;
        margin-bottom: $spacing;
        // color: indigo;
        color: magenta;
        background-color: variables.$indigo-bg;
        border: 1px solid magenta;
        @include mixins.text-shadow(5px, 5px, fuchsia);
        @include mixins.box-shadow(5px, 5px, magenta);
      }

      p {
        text-align: justify;
        max-width: $content-width;
        color: cyan;
        background-color: indigo;
        padding: 0.5em;
        border-radius: 10px;
      }

      hr {
        font-size: 1.5rem;
        width: min($content-width, 100%);
        margin: $spacing 0;
        border: 1px solid magenta;
        @include mixins.box-shadow(5px, 5px, fuchsia)
      }
    }
  }
}
