$indigo-bg: #4b0082cc;
$content-width: 1000px;

$title: (
  "K": (red,     orange,  lime,    magenta, cyan),
  "a": (cyan,    magenta, red,     lime,    orange),
  "z": (orange,  red,     magenta, cyan,    lime),
  "u": (magenta, lime,    cyan,    orange,  red),
  "l": (lime,    cyan,    orange,  red,     magenta)
);

@font-face {
  font-family: "Outline Kei";
  src: url("../fonts/2020 Outline Kei.ttf") format("truetype");
}

@font-face {
  font-family: "Cheboyga";
  src: url("../fonts/Cheboyga.ttf") format("truetype");
}
