$indigo-bg: #4b0082cc;

$title: (
  "K": (red,         orange,      lime, magenta,     cyan),
  "a": (cyan,        magenta,     red,         lime, orange),
  "z": (orange,      red,         magenta,     cyan,        lime),
  "u": (magenta,     lime, cyan,        orange,      red),
  "l": (lime, cyan,        orange,      red,         magenta)
);

@font-face {
  font-family: "Bonte Divine";
  src: url("../fonts/BonteDivine.otf") format("opentype");
}

@font-face {
  font-family: "Dopest";
  src: url("../fonts/DopestbyMARSNEV.otf") format("opentype");
}

@font-face {
  font-family: "Gist Light"; // Marked for promotion
  src: url("../fonts/GistLight.otf") format("opentype");
}

@font-face {
  font-family: "Neon Glow"; // Marked for promotion
  src: url("../fonts/NEON GLOW.otf") format("opentype");
}

@font-face {
  font-family: "Neon Led Light"; // Marked for promotion
  src: url("../fonts/NEONLEDLight.otf") format("opentype");
}

@font-face {
  font-family: "Qualified Good";
  src: url("../fonts/QUALIFIED GOOD.otf") format("opentype");
}

@font-face {
  font-family: "Outline Kei"; // Marked for promotion
  src: url("../fonts/2020 Outline Kei.ttf") format("truetype");
}

@font-face {
  font-family: "Birdbrain";
  src: url("../fonts/Birdbrain.ttf") format("truetype");
}

@font-face {
  font-family: "Cheboyga";
  src: url("../fonts/Cheboyga.ttf") format("truetype");
}

@font-face {
  font-family: "Face";
  src: url("../fonts/FACETSNF.ttf") format("truetype");
}

@font-face {
  font-family: "Gambler"; // Marked for promotion
  src: url("../fonts/Gambler.ttf") format("truetype");
}

@font-face {
  font-family: "Golden Arrow";
  src: url("../fonts/Golden_Arrow.ttf") format("truetype");
}

@font-face {
  font-family: "Grafika Type 2"; // Marked for promotion
  src: url("../fonts/GRAFIKA TYPE.2.ttf") format("truetype");
}

@font-face {
  font-family: "Green"; // Marked for promotion
  src: url("../fonts/Green.ttf") format("truetype");
}

@font-face {
  font-family: "Liberta";
  src: url("../fonts/Liberta.ttf") format("truetype");
}

@font-face {
  font-family: "Look";
  src: url("../fonts/Look.ttf") format("truetype");
}

@font-face {
  font-family: "Neonblitz"; // Marked for promotion
  src: url("../fonts/Neonblitz.ttf") format("truetype");
}

@font-face {
  font-family: "Playback";
  src: url("../fonts/Playback.ttf") format("truetype");
}

@font-face {
  font-family: "Prestige Signature";
  src: url("../fonts/Prestige Signature Serif - Demo.ttf") format("truetype");
}

@font-face {
  font-family: "Race 1"; // Marked for promotion
  src: url("../fonts/RACE1 Brannt Chiseled NCV.ttf") format("truetype");
}

@font-face {
  font-family: "Retrolight"; // Marked for promotion
  src: url("../fonts/Retrolight.ttf") format("truetype");
}

@font-face {
  font-family: "Tissue";
  src: url("../fonts/Tissue.ttf") format("truetype");
}

@font-face {
  font-family: "Wander Brave"; // Marked for promotion
  src: url("../fonts/Wander Brave.ttf") format("truetype");
}
