@font-face {
  font-family: Varela;
  src: url("./VarelaRound-Regular.otf") format("opentype");
}

:root {
  scroll-behavior: smooth;
  --my-color: #ff54fe;
  --bg: #200040;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: "Varela", 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

html {
  width: 100%;
  height: fit-content;
}

body {
  /* background-color: var(--bg); */
  background-image: linear-gradient(to bottom, navy, indigo 20% 35%, coral 55%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: fit-content;
  width: 100% - calc(2*1.5em);
  margin: 1.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.5em;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

a, p {
  font-size: 1.25rem;
}

a, p, h2 {
  text-align: center;
}

a {
  text-decoration: none;
  width: 100%;
}

a:hover {
  text-decoration: underline wavy;
}

a::after {
  content: '⇗';
  /* content: '⤤'; */
  margin-left: 0.25em;
}

#showcase {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

@media screen and (width < 968px) {
  #showcase {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width < 654px) {
  #showcase {
    grid-template-columns: repeat(1, 1fr);
  }
}

#name {
  gap: 1.25em;
  padding: 0.75em 1.25em;
  justify-content: space-evenly;
  background: var(--bg);
}

@media screen and (width < 690px) {
  #name {
    flex-direction: column;
    gap: 0.5em;
  }
}

#rust-projects-heading {
  margin-bottom: 0.5em;
}

#rust-projects {
  align-items: center;
  gap: 0.5em;

  img {
    width: 13em;
  }
}

.text-me {
  color: var(--my-color);
}

.text-magenta {
  color: magenta;
}

.text-cyan {
  color: cyan;
}

.text-lime {
  color: lime;
}

.text-orange {
  color: orange;
}

.text-teal {
  color: #00ff89;
}

.text-pink {
  color: #ff0092;
}

.text-light-purple {
  color: #c745ff;
}

.text-blue {
  color: #00d3ff;
}

.neon-sign-me {
  padding: 0.25em 0.75em;
  border-radius: 10px;
  color: var(--my-color);
  background: var(--bg);
  border: 1px solid var(--my-color);
  box-shadow:
    0 0 5px var(--my-color) inset,
    0 0 10px var(--my-color) inset,
    0 0 15px var(--my-color) inset,
    0 0 20px var(--my-color) inset,
    0 0 5px var(--my-color),
    0 0 10px var(--my-color),
    0 0 15px var(--my-color),
    0 0 20px var(--my-color)
  ;
}

.neon-sign-magenta {
  padding: 0.25em 0.75em;
  border-radius: 10px;
  color: magenta;
  background: var(--bg);
  border: 1px solid magenta;
  box-shadow:
    0 0 5px magenta inset,
    0 0 10px magenta inset,
    0 0 15px magenta inset,
    0 0 20px magenta inset,
    0 0 5px magenta,
    0 0 10px magenta,
    0 0 15px magenta,
    0 0 20px magenta
  ;
}

.neon-sign-cyan {
  padding: 0.25em 0.75em;
  border-radius: 10px;
  color: cyan;
  background: var(--bg);
  border: 1px solid cyan;
  box-shadow:
    0 0 5px cyan inset,
    0 0 10px cyan inset,
    0 0 15px cyan inset,
    0 0 20px cyan inset,
    0 0 5px cyan,
    0 0 10px cyan,
    0 0 15px cyan,
    0 0 20px cyan
  ;
}

.neon-sign-lime {
  padding: 0.25em 0.75em;
  border-radius: 10px;
  color: lime;
  background: var(--bg);
  border: 1px solid lime;
  box-shadow:
    0 0 5px lime inset,
    0 0 10px lime inset,
    0 0 15px lime inset,
    0 0 20px lime inset,
    0 0 5px lime,
    0 0 10px lime,
    0 0 15px lime,
    0 0 20px lime
  ;
}

.neon-sign-orange {
  padding: 0.25em 0.75em;
  border-radius: 10px;
  color: orange;
  background: var(--bg);
  border: 1px solid orange;
  box-shadow:
    0 0 5px orange inset,
    0 0 10px orange inset,
    0 0 15px orange inset,
    0 0 20px orange inset,
    0 0 5px orange,
    0 0 10px orange,
    0 0 15px orange,
    0 0 20px orange
  ;
}

.neon-sign-rust {
  padding: 0.25em 0.75em;
  border-radius: 10px;
  color: #d05e11;
  background: var(--bg);
  border: 1px solid #d05e11;
  box-shadow:
    0 0 5px #d05e11 inset,
    0 0 10px #d05e11 inset,
    0 0 15px #d05e11 inset,
    0 0 20px #d05e11 inset,
    0 0 5px #d05e11,
    0 0 10px #d05e11,
    0 0 15px #d05e11,
    0 0 20px #d05e11
  ;
}

.neon-sign-teal {
  padding: 0.25em 0.75em;
  border-radius: 10px;
  color: #00ff89;
  background: var(--bg);
  border: 1px solid #00ff89;
  box-shadow:
    0 0 5px #00ff89 inset,
    0 0 10px #00ff89 inset,
    0 0 15px #00ff89 inset,
    0 0 20px #00ff89 inset,
    0 0 5px #00ff89,
    0 0 10px #00ff89,
    0 0 15px #00ff89,
    0 0 20px #00ff89
  ;
}

.neon-sign-pink {
  padding: 0.25em 0.75em;
  border-radius: 10px;
  color: #ff0092;
  background: var(--bg);
  border: 1px solid #ff0092;
  box-shadow:
    0 0 5px #ff0092 inset,
    0 0 10px #ff0092 inset,
    0 0 15px #ff0092 inset,
    0 0 20px #ff0092 inset,
    0 0 5px #ff0092,
    0 0 10px #ff0092,
    0 0 15px #ff0092,
    0 0 20px #ff0092
  ;
}

.neon-sign-light-purple {
  padding: 0.25em 0.75em;
  border-radius: 10px;
  color: #c745ff;
  background: var(--bg);
  border: 1px solid #c745ff;
  box-shadow:
    0 0 5px #c745ff inset,
    0 0 10px #c745ff inset,
    0 0 15px #c745ff inset,
    0 0 20px #c745ff inset,
    0 0 5px #c745ff,
    0 0 10px #c745ff,
    0 0 15px #c745ff,
    0 0 20px #c745ff
  ;
}

.neon-sign-blue {
  padding: 0.25em 0.75em;
  border-radius: 10px;
  color: #00d3ff;
  background: var(--bg);
  border: 1px solid #00d3ff;
  box-shadow:
    0 0 5px #00d3ff inset,
    0 0 10px #00d3ff inset,
    0 0 15px #00d3ff inset,
    0 0 20px #00d3ff inset,
    0 0 5px #00d3ff,
    0 0 10px #00d3ff,
    0 0 15px #00d3ff,
    0 0 20px #00d3ff
  ;
}

.flexbox-vertical {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1em;
  padding: 1em;
  height: fit-content;

  img {
    width: 13em;
  }
}

.flexbox-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.grid-2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1em;
  column-gap: 0;
}
