@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/RobotoSlab-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

:root {
  scroll-behavior: smooth;
}

body {
  --light-text: #fff;
  --dark-text: #000;
  --black: #000;
  --dark-purple: #3d2645;
  --byzantium: #832161;
  --cerise: #da4167;
  --ghost-white: #f0eff4;
  --green-blue: #306bac;
  --cornflower-blue: #6f9ceb;
  --baby-blue-eyes: #98b9f2;
  --medium-pruple: #918ef4;
  font-size: 16px;
  color: var(--light-text);
  background: var(--black);
  min-height: 100vh;
  overflow-x: hidden;
}

.h1 {
  text-align: center;
  font-size: 40px;
}

.circles-bg {
  aspect-ratio: 1920/400;
  background: url('svg/circles-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blob {
  aspect-ratio: 900/450;
  background-image: url('svg/blob.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  padding: 100px 20vw;
}

.buttons {
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

.button:hover {
  cursor: pointer;
}

.button {
  position: relative;
}

/* Button 1 effects */
.button1::before {
  content: '『';
  position: absolute;
  transform: translateX(49px);
  opacity: 0;
  transition: all .3s;
}
.button1:hover::before {
  opacity: 1;
  transform: translateX(-22px) translateY(-3px);
  font-size: 20px;
}
.button1::after {
  content: '』';
  position: absolute;
  transform: translateX(-67px);
  opacity: 0;
  transition: all .3s;
}
.button1:hover::after {
  opacity: 1;
  transform: translateX(2px);
  font-size: 20px;
}

/* Button 2 effects */
.button2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--light-text);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .3s;
}
.button2:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}
.button2::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--light-text);
  top: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .3s;
}
.button2:hover::before {
  transform: scaleX(1);
  transform-origin: right;
}

/* Button 3 effects */
.button3 {
  /* border: 1px solid var(--dark-purple); */
  border-radius: 3px;
  padding: 5px 10px;
  overflow: hidden;
  z-index: 1;
}
.button3::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--dark-purple);
  transform: skewX(45deg) scaleX(0);
  transition: transform .3s;
  z-index: -1;
  transform-origin: left;
}
.button3:hover::before {
  transform: skewX(45deg) scaleX(1);
  transform-origin: right;
}

/* Button 4 effects */
.button4 {
  z-index: 1;
  overflow: hidden;
  padding: 5px 10px;
}
.button4::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--medium-pruple);
  transform: scale(0);
  transform-origin: top right;
  transition: transform .3s;
  z-index: -1;
}
.button4:hover::before {
  transform: scale(1);
  transform-origin: bottom left;
}

/* Button 5 effects */
.button5 {
  overflow: hidden;
  /* border: 1px solid var(--black); */
  padding: 5px 10px;
  position: relative;
  overflow: hidden;
}
.button5::before {
  content: 'Button 5';
  padding: 5px 10px;
  background: var(--ghost-white);
  color: var(--dark-text);
  position: absolute;
  left: 0;
  top: 0;
  transform: scaleX(0);
  transition: transform .3s;
  transform-origin: left;
  z-index: 2;
}
.button5:hover::before {
  transform: scaleX(1);
  transform-origin: right;
}
.button5-text {
  display: inline-block;
  transform: translateX(0px);
  transform-origin: right;
  transition: transform 0s;
}
.button5:hover .button5-text {
  transition: transform .3s;
  transform: translateX(-83px);
  transform-origin: left;
}

/* Button 6 effects */
.button6 {
  
}

.spacer {
  aspect-ratio: 1920/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('svg/layer1.svg');
}
.layer2 {
  background-image: url('svg/layer2.svg');
}
.layer3 {
  background-image: url('svg/layer3.svg');
}
.layer4 {
  background-image: url('svg/layer4.svg');
}
.layer5 {
  background-image: url('svg/layer5.svg');
}
.layer6 {
  background-image: url('svg/layer6.svg');
}
.layer7 {
  background-image: url('svg/layer7.svg');
}
.layer8 {
  background-image: url('svg/layer8.svg');
}

.black {
  background: var(--black);
}
.dark-purple {
  background: var(--dark-purple);
}
.byzantium {
  background: var(--byzantium);
}
.cerise {
  background: var(--cerise);
}
.ghost-white {
  background: var(--ghost-white);
  color: var(--dark-text);
}
.green-blue {
  background: var(--green-blue);
}
.cornflower-blue {
  background: var(--cornflower-blue);
}
.baby-blue-eyes {
  background: var(--baby-blue-eyes);
}
.medium-purple {
  background: var(--medium-pruple);
}